#username {
    width: 100%;
    margin-bottom: 10px;  
}

#title {
    width: 100%;
    margin-bottom: 10px;
}

#post {
    width: 100%;
    margin-bottom: 10px;
    flex-grow: 1;
}

#button {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}