header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 10px double black;
}

.h2 {
    display: inline-block; 
    vertical-align: middle; 
}

#left {
    width: 100%;
    text-align: center;   
    margin: 0px 3px 0px 0px;  
    border-right: 10px double black; 
    padding-top: 10%; 
    padding-bottom: 10%;
}

#right {
    width: 100%;
    margin: 0px 10px 0px 3px; 
    padding-top: 10%; 
    padding-bottom: 10%;
}

#content {
    display: flex;
    justify-content: center;
}

